*.rbc
bin/**
.sass-cache
.bundle
vendor/bundle
log/*
spec/dummy/log/*
spec/dummy/db/migrate/*
tmp/*
db/*.sqlite3
public/system/*
coverage/
config/heroku.yml
config/local-env.yml
spec/dummy/config/local-env.yml
.DS_Store
*.tmproj
tmtags
bin/*
*~
\#*
.\#*
*.swp
.*.swp
coverage
coverage.data
rdoc
pkg
test/tmp
test/version_tmp
tmp
pkg
lib/bundler/man
spec/reports
.config
InstalledFiles
certificates/*
.bundle.tddium*
.tddium


# ignore the mongoid folder
mongoid

# Ignore Aptana project file [2011-11-07 by RMak]
.project
