TWILIO_ACCOUNT_SID: asdfasdf
TWILIO_AUTH_TOKEN: fdsafdsa
TWILIO_FROM_SMS_NUMBER: "19783194410"
CHAMELEON_HOST: "http://localhost:5000"
SMS_CONSUME_URL: "http://chameleon-addon-tmn11.herokuapp.com/consume/"
AUTH_TOKEN: extra_secret
SHARED_SECRET: secret