TWILIO_ACCOUNT_SID: asdfasdf
TWILIO_AUTH_TOKEN: fdsafdsa
TWILIO_FROM_SMS_NUMBER: "some_number"
CHAMELEON_HOST: "http://localhost:5000/"
SMS_CONSUME_URL: "http://chameleon-addon-tmn11.herokuapp.com/consume/"
MAX_OUTGOING_SMS_PER_LC_EVENT: "5"