
%h4
  'name' contains a list of objects that are available for the published application.
%h4
  'format' defines how the message to be generated should look like using a template where {{attribute}} is an attribute for the object.
    