<%= link_to "Go back to settings", settings_path %>
<h4>Current Menu Options</h4>

<% @menu_options.each do |option| %>
  <small><%= link_to "#{option.name} - #{option.format}", account_menu_option_path(current_account, option) %></small><br/>
<% end %>
<br/>
<small><%= link_to "Add new menu option", new_account_menu_option_path(current_account) %></small>