<%= form_for(@outage) do |f| %>
  <% if @outage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outage.errors.count, "error") %> prohibited this outage from being saved:</h2>

      <ul>
      <% @outage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
