// Place all the styles related to the texter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#consume_phone_number_region
  margin-bottom: 15%
  
.options-floater
  width: 100
  height: 300
  margin-right: 20
  position: relative
  padding: .8%
  float: left
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    
.options-floater br
  display: none

.select-menu
  font-size: 2.5em