<!DOCTYPE html>
<html>
<head>
  <title>SmsExtension</title>
  <%= stylesheet_link_tag    "sms_extension/application", :media => "all" %>
  <%= javascript_include_tag "sms_extension/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
